{% extends "base.html" %}
{% block tytul %} Lista wiadomości {% endblock%}
{% block h1 %} Lista wiadomości {% endblock%}
{% block body %}

  <ul>
  {% for w in wiadomosci %}
    <li>
      {{ g.user['nick'] }} napisał: {{ w.wiadomosc }} - {{ w.data_dodania }}

      <form method="POST" action="{{ url_for('czat.usun') }}">
        <input type="hidden" name="id" value="{{ w.id }}">
        <input type="submit" value="Usuń">
      </form>

    </li>
  {% endfor %}
  </ul>

<p><a href="{{ url_for('czat.dodaj') }}">Dodaj wiadomość »»»</a></p>

{% endblock %}