<!-- projekty_flask/quiz_orm/templates/kategorie/index.html -->
{% extends "base.html" %}
{% set active_page = "kategorie" %}
{% block h1 %} Kategorie {% endblock %}
{% block body %}
  <h2 class="subtitle">Lista kategorii</h2>
    <ol>
      {% for obj in items %}
        <li class="my-3">
          <!-- wypisujemy kategorie -->
          {{ obj.kategoria }}
          {% if obj.user_id == current_user.id %}
            <a href="{{ url_for('kategorie.kategoria_edytuj', id=obj.id ) }}" class="button is-link is-small">Edytuj</a>
            <a href="{{ url_for('kategorie.kategoria_usun', id=obj.id ) }}" class="button is-link is-small">Usuń</a>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
{% endblock %}
{% block sidemenu %}
    <aside class="menu">
    <p class="menu-label">Kategorie</p>
    <ul class="menu-list">
      <li><a href="{{ url_for('kategorie.kategoria_dodaj') }}">Dodaj kategorię »</a></li>
    </ul>
    </aside>
{% endblock %}