<!-- projekty_flask/quiz_orm/templates/pytania/index.html -->
{% extends "base.html" %}
{% set active_page = "pytania" %}
{% block h1 %} Pytania {% endblock %}
{% block body %}

<div class="columns">
  <div class="column is-four-fifths">
  <h2 class="subtitle">Lista pytań</h2>
    <ol>
      {% for obj in items %}
        <li class="my-3">
          <!-- wypisujemy kategorie -->
          {{ obj.pytanie }} ({{ obj.kategoria }})
          <a href="{{ url_for('pytania.pytanie_edytuj', pid=obj.id ) }}" class="button is-link is-small">Edytuj</a>
          <a href="{{ url_for('pytania.pytanie_usun', pid=obj.id ) }}" class="button is-link is-small">Usuń</a>
        </li>
      {% endfor %}
    </ol>
  </div>
  <div class="column">
    <aside class="menu">
    <p class="menu-label">Pytania</p>
    <ul class="menu-list">
      <li><a href="{{ url_for('pytania.pytanie_dodaj') }}">Dodaj pytanie »</a></li>
      <li><a href="{{ url_for('pytania.test') }}">Test »</a></li>
    </ul>
    </aside>
  </div>
</div>
{% endblock %}