<!-- projekty_flask/quiz_orm/templates/pytania/index.html -->
{% extends "base.html" %}
{% set active_page = "pytania" %}
{% block h1 %} Pytania {% endblock %}
{% block body %}
    <nav class="tabs">
      <div class="container">
        <ul>
          <li class="is-active">
              <a href="{{ url_for('pytania.pytania_lista') }}">Pytania »</a>
          </li>
          <li class="is-active">
              <a href="{{ url_for('pytania.pytania') }}">Quiz »</a>
          </li>
        </ul>
      </div>
    </nav>
{% endblock %}