<!-- projekty_flask/quiz_orm/templates/pytania/pytania_lista.html -->
{% set active_page = "pytania" %}
{% extends "index.html" %}
{% block h1 %} Pytania – test {% endblock %}
{% block body %}
  <!-- pętla odczytująca kolejne pytania z listy -->
  <form method="POST" class="form-inline">
  {% for p in pytania %}
      <!-- wypisujemy pytanie -->
    {% set p_nr = loop.index0 %}
    {{ p }}
    {% for o in odpowiedzi[p_nr] %}
      {% set o_nr = loop.index0 %}
      <label>
        {% if p.l_poprawnych_odp > 1 %}
          <input type="checkbox" name="{{ p_nr }}{{ o_nr }}">
        {% else %}
          <input type="radio" value="{{ o.id }}" name="{{ pnr }}">
        {% endif %}
        {{ o.odpowiedz }}
      </label>
    {% endfor %}
  {% endfor %}
  </form>

{% endblock %}