<!-- projekty_flask/quiz_orm/templates/pytania/pytania_lista.html -->
{% extends "index.html" %}
{% block h1 %} Quiz – lista pytań {% endblock %}
{% block body %}
  <!-- pętla odczytująca kolejne pytania z listy -->
  <ol>
  {% for p in pytania %}
    <li>
      <!-- wypisujemy pytanie -->
      {{ p.pytanie }}
      <a href="{{ url_for('quiz.edytuj', pid=p.id ) }}" class="btn btn-default">Edytuj</a>
      <a href="{{ url_for('quiz.usun', pid=p.id ) }}" class="btn btn-default">Usuń</a>
    </li>
  {% endfor %}
  </ol>
{% endblock %}