<!-- projekty_flask/quiz_orm/templates/pytania/pytania_lista.html -->
{% set active_page = "pytania" %}
{% extends "index.html" %}
{% block h1 %} Pytania – test {% endblock %}
{% block body %}
  <!-- pętla odczytująca kolejne pytania z listy -->
  <form method="POST" class="form-inline">
  <ol>
  {% for p in pytania %}
      <!-- wypisujemy pytanie -->
    <li>
    {% set p_nr = loop.index0 %}
    <div class="field">
      <div class="control">
        <p class="label"> {{ p }} </p>

      </div>
    </div>
    {% if p.l_poprawnych_odp > 1 %}
      <div class="checkboxes mb-3">
    {% else %}
      <div class="radios">
    {% endif %}
        <ol type="a">
    {% for o in p.odpowiedzi %}
      {% set o_nr = loop.index0 %}
        <li>
        {% if p.l_poprawnych_odp > 1 %}
        <label class="checkbox">
          <input type="checkbox" name="{{ p.id }}" value="{{ o.id }}">
        {% else %}
        <label class="radio">
          <input type="radio" name="{{ p.id }}" value="{{ o.id }}">
        {% endif %}
          {{ o.odpowiedz }}
        </label>
        </li>
    {% endfor %}
        </ol>
      </div>
    </li>
  {% endfor %}
  </ol>
          <button type="submit" class="button is-block is-info mt-3">Oceń</button>
  </form>

{% endblock %}