<form method="POST" class="form-inline" action="">
    {{ form.csrf_token }}
    <div class="field">
        <div class="control">
            {{ form.email.label(class="label") }}
            {{ form.email(class="input") }}
        </div>
    </div>

    <div class="field">
        <div class="control">
            {{ form.nick.label(class="label") }}
            {{ form.nick(class="input") }}
        </div>
    </div>

    <div class="field">
        <div class="control">
            {{ form.haslo.label(class="label") }}
            {{ form.haslo(class="input") }}
        </div>
    </div>
    <button class="button is-block is-info is-fullwidth">Utwórz konto</button>
  </form>
