<!-- projekty_flask/quiz_orm/templates/pytania/index.html -->
{% extends "base.html" %}
{% set active_page = "pytania" %}
{% block h1 %} Pytania {% endblock %}
{% block body %}
  <h2 class="subtitle">Lista pytań</h2>
    <ol>
      {% for obj in items %}
        <li class="my-3">
          <!-- wypisujemy pytania -->
          {{ obj.pytanie }} ({{ obj.kategoria }})
          <a href="{{ url_for('pytania.pytanie_edytuj', pid=obj.id ) }}" class="button is-link is-small">Edytuj</a>
          <a href="{{ url_for('pytania.pytanie_usun', pid=obj.id ) }}" class="button is-link is-small">Usuń</a>
        </li>
      {% endfor %}
    </ol>
{% endblock %}
{% block sidemenu %}
    <p class="menu-label">Pytania</p>
    <ul class="menu-list">
      <li><a href="{{ url_for('pytania.pytanie_dodaj') }}">Dodaj pytanie »</a></li>
    </ul>
<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>Pytania z kategorii</span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      {% for k in kategorie %}
        <a href="{{ url_for('pytania.kategoria', k_id=k.id) }}" class="dropdown-item"> {{ k.kategoria }} » </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}