{% extends "base.html" %}
{% block podtytul %}Zamówienie – edycja{% endblock %}

{% block tresc %}
  <!-- formularz dodawania użytkownika -->
  <p>{{ rekord.id }}, {{ rekord.id_klienta }}, {{ rekord.data }}</p>
  <form method="POST" action="{{ url_for('zamowienia.edytuj', z_id=rekord.id) }}">
    <label for="klient">Klient:</label>
    <input type="text" id="klient" name="klient" value="{{ rekord.id_klienta }} {{ rekord.imie }} {{ rekord.nazwisko }}" readonly>
    <br>
    <label for="data">Data, godzina:</label>
    <input type="datetime-local" id="data" name="data" value="{{ rekord.data }}" required>
    <br>
      <fieldset>
      <legend>Dania</legend>
      <p>Zamówione:</p>
        {% for d in dania_z %}
          <div style="white-space:nowrap">
            <input type="checkbox" name="dania" value="{{ d.id }}" checked> {{ d.nazwa }}, {{ d.cena }} zł &nbsp;
            <input type="number" name="liczba{{ d.id }}" value="{{ d.liczba }}" min="0" step="1">
          </div>
        {% endfor %}
      <p>Dania dostępne:</p>
        {% for d in dania %}
          <div style="white-space:nowrap">
            <input type="checkbox" name="dania" value="{{ d.id }}"> {{ d.nazwa }}, {{ d.cena }} zł &nbsp;
            <input type="number" name="liczba{{ d.id }}" value="1" min="0" step="1">
          </div>
        {% endfor %}
      </fieldset>
    <br>
    <label for="rabat">Rabat:</label>
    <input type="number" id="rabat" name="rabat" value="{{ rekord.rabat }}" step=".01">
    <button type="submit">Zapisz</button>
  </form>
{% endblock %}
